# Python
__pycache__/
*.py[cod]
*$py.class

# Django migration 編譯檔案（忽略編譯檔，但保留 .py）
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py[cod]


# VSCode
.vscode/
*.code-workspace

# 環境變數
.env

# macOS
.DS_Store