asgiref==3.8.1
cffi==1.17.1
cryptography==45.0.3
Django==5.2.2
django-extensions==4.1
gunicorn==23.0.0
packaging==25.0
psycopg==3.2.9
pycparser==2.22
pyOpenSSL==25.1.0
sqlparse==0.5.3
typing_extensions==4.14.0
